*.class
*.exe
*.swp
*.tmp
*.log
.metadata
/.vscode
/build
/runtime
/ECUxPlot*.jar
/ECUxPlot*.tar.gz
/mapdump.jar
/data/*.csv
/data/*.xdf
/data/*.zip
/data/*-*.kp
/src/org/nyet/ecuxplot/loggers.xml
/src/org/nyet/util/Version.java
