*.class
*.exe
*.swp
*.tmp
.metadata
/build
/ECUxPlot*.jar
/ECUxPlot*.tar.gz
/mapdump.jar
/data/*.csv
/data/*.xdf
/data/*.zip
/data/*-*.kp
/src/org/nyet/util/Version.java
/MacOS.data/package/macosx/Info.plist
